h1 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;

}

figcaption {
  font-size: small;
  text-align: center;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: blanchedalmond;
}

#featured-property p {
  display: flex;
  justify-content: center;
  width: 800px;
}

#details {

}


h3 {

}



body {
  width: 100%;
  height: 100%;
  margin: 0;
}
